.store-order-state {
  color: white;
  background-color: $primaryColor;
}

.shop {
  .shop-item {
    display: flex;
    flex-direction: row;
    padding: 30px;
    width: 100%;
    border-bottom: 1px solid gray;

    .shop-item-img {
      flex: 30%;
      border-radius: 10px;
      float: left;
      box-shadow: 5px 5px 5px #ccc;
      -moz-box-shadow: 5px 5px 5px #ccc;
      -webkit-box-shadow: 5px 5px 5px #ccc;
      -khtml-box-shadow: 5px 5px 5px #ccc;
    }

    .store-item-info {
      display: flex;
      flex-direction: column;
      flex: 70%;
      padding-left: 20px;

      .store-item-h3 {
        font-size: 40px;
        color: #101010;
        padding-bottom: 20px;
      }

      .store-item-description {
        font-size: 20px;
        padding-bottom: 20px;
      }

      .store-item-price {
        align-self: flex-end;
        bottom: 0;
        font-size: 30px;
        padding-bottom: 20px;
      }
    }
  }
}

@media only screen and (max-width: 1230px) {
  .shop {
    .shop-item {
      display: flex;
      flex-direction: row;

      .shop-item-img {
        flex: 50%;
      }

      .store-item-info {
        flex: 50%;
        padding-left: 20px;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .shop {
    .shop-item {
      display: flex;
      flex-direction: column;

      .shop-item-img {
        flex-align: center;
        width: 50%;
        margin-bottom: 30px;
      }

      .store-item-info {
        padding-left: 0px;
        .store-item-h3 {
        }

        .store-item-description {
        }

        .store-item-price {
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .shop {
    .shop-item {
      display: flex;
      flex-direction: column;

      .shop-item-img {
        flex-align: center;
        width: 90%;
      }

      .store-item-info {

        .store-item-h3 {
        }

        .store-item-description {
        }

        .store-item-price {
        }
      }
    }
  }
}