#carousel-container {
  position: relative;
  width: 100%;
  margin: 0 auto;z-index: 5;
  #title-home{
    width: 50%;
    font-size: 40px;
    color: white;
    text-shadow: 1px 1px 2px black;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 40%;
    text-align: center;
    z-index: 50;
  }
  #carousel-slide {
    position: absolute;
    width: 100%;
    .sliderImg {
      position: absolute;
      min-height: 200px;
    }

  }

  #counter {
    text-align: right;
    width: 60px;
    text-shadow: 1px 1px 2px black;
    margin-left: 50px;
    bottom: 25px;
    font-size: 35px;
    color: white;
    position: absolute;

    #countNum {
      display: inline-block;
      z-index: 10;
    }

    #countOf {
      font-size: 20px;
      display: inline-block;
      z-index: 10;
      color: rgba(255,255,255,0.7);
    }
  }
}
.content-home{
  padding-top: 70px;
}