$fontFamily:'Montserrat', sans-serif;
$textColor: #484848;
$primaryColor:#5B7246;
$secondaryColor: #2974CB;
$myGreen:#1c9941;
$forestGreen:#0b6624;
$fernColor:#4F7944;
//text count animation
$normal:5px;
$thick:6px;
$bounce:12px;